* {
	padding: 0;
	margin: 0;
}

.body {
	background: #e8eaee;
}

.alerts {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 400px;
	padding: 0 0 20px 0;
}

.alert {
	animation: alertAnimation 5s forwards;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 15px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
	border-radius: .3em;
}

.alert svg {
	margin-right: 10px;
}

.alert__text {
	word-wrap: break-word;
	max-width: 295px;
}

.alert__color {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 3px;
	border-top-left-radius: .3em;
	border-bottom-left-radius: .3em;
}

.alert__close {
	display: flex;
	padding: 5px 0 5px 0;
	background: transparent;
	border: none;
	margin-left: auto;
}

@keyframes alertAnimation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
